@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  /* GARANTE QUE HTML SE ESTENDE PARA PREENCHER A ALTURA DINÂMICA DO VIEWPORT NO CELULAR */
  height: 100%;      /* Fallback para navegadores mais antigos */
  height: 100dvh;     /* Para navegadores mais recentes que suportam 'dvh' */
  overflow-y: auto;   /* Permite rolagem se o conteúdo ultrapassar */
}

body {
  width: 100%;
  height: 100%; /* FAZ O BODY OCUPAR 100% DA ALTURA DO HTML */
  background-color: #1A202C; /* COR DE FUNDO CONSISTENTE */
  overflow-x: hidden; /* IMPEDE ROLAGEM HORIZONTAL */
  padding: 0;
  margin: 0;
  font-size: 16px; /* Tamanho de fonte padrão (ajustado por media queries se necessário) */
}

/* GARANTE QUE O DIV RAIZ DO REACT TAMBÉM PREENCHA O ESPAÇO E AJUDA NA DISTRIBUIÇÃO DO CONTEÚDO */
#root {
  width: 100%;
  height: 100%; /* Preenche a altura do body */
  display: flex; /* Usa flexbox para que o conteúdo interno possa se esticar */
  flex-direction: column; /* Organiza os filhos em coluna */
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .container {
    width: 100%;
    padding: 0 15px;
  }
}